<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>StudentDetails</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/register.css"/>
    </head>
    

	
	<body >

        <nav class="navbar navbar-expand-lg navbar-light text-center" style="text-align: center;background-color: #1A1A47;">
			<a class="navbar-brand" href="/home">PresentPlease</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
						<a class="nav-link lead" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
						<a class="nav-link lead" href="/student/login" onclick="logout()">Logout</a>
                    </li>
				</ul>
			</div>
        </nav>

        <!-- <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-5 bd-highlight fit-to-screen">
                <p class="text-center"><h3>Student Image Upload</h3></p>
                
                    <form id="register_form" method="POST" action="/upload_student" enctype="multipart/form-data">
                        <div class="custom-file mb-3">
                            <label for="exampleInputImage" class="custom-file-label"><strong>Choose file</strong></label>
                            <input type="file" id="exampleInputFile" name="File" class="custom-file-input" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="abcd" value="Submit">Upload</button>
                        </div>
                    </form>
                
            </div>
        </div> -->

        <div class="m-5">
            
            <h1>Attendance Details</h1>

            <div id="piechart"></div>
    
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
            <script type="text/javascript">
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
    
            // Draw the chart and set the chart values
            function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Work', window.localStorage.getItem('roll')],
            ['Eat', 2],
            ['TV', 30],
            ['Gym', 2],
            ['Sleep', 8]
            ]);
    
            // Optional; add a title and set the width and height of the chart
            var options = {'title':'My Average Day', 'width':550, 'height':400};
    
            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
            }
            </script>    

        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/js/log.js"></script>


	</body>
</html>